echo # EMPÊCHE l'installation de libpq > .npmrc
echo optional=false >> .npmrc
echo legacy-peer-deps=true >> .npmrc
echo ignore-scripts=true >> .npmrc
echo # Force pg au lieu de libpq >> .npmrc
echo pg=^8.16.3 >> .npmrc